/* header breadcrumb */
.inner-banner {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.w3l-breadcrumb {
  display: block;
  margin: 0 auto;
  z-index: 100;
  z-index: 99;
}
.w3l-breadcrumb a{
  font-size: 1.1rem;
  color: #898989;
}
ul.breadcrumbs-custom-path a:hover {
  opacity: 1;
  color: #fb811e;
}
.w3l-breadcrumb p{
  font-size: 1rem;
}
ul.breadcrumbs-custom-path {
  line-height: 1.5;
  color: #707070;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  text-transform: capitalize;
}
ul.breadcrumbs-custom-path a {
  font-weight: bold;
}

/*COUNTER STATS */
.counter span.fa {
  color: #009f4d;
  text-align: center;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background: rgb(0 159 77 / 4%);
  font-size: 32px;
}
.timer {
  font-size: 3em;
  font-weight: 600;
  color: #060606;
}
p.count-text {
  text-transform: uppercase;
  color: #060606;
  font-size: 17px;
}
/*TEAM SECTION */
.About_team {
  background-color: #009f4d;
}
h4.title-bg-content {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.teams-gd {
  background: #fff;
  padding: 1em;
  border-radius: 8px;
}
.About_team .team-member {
  overflow: hidden;
}
.About_team .team-member,
.About_team .team-member .team-img {
  position: relative;
}
.About_team .team-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  background-color: rgb(8 8 8 / 54%);
  opacity: 0;
  transition: all 0.3s;
}
.About_team .team-hover .desk {
  position: absolute;
  width: 100%;
  transform: translateY(-55%);
  transition: all 0.3s 0.2s;
  padding: 0 20px;
}
.About_team .team-hover .s-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  transform: translateY(45%);
  transition: all 0.3s 0.2s;
  font-size: 35px;
}
.About_team .desk h4 {
  margin-bottom: 4px;
}
.About_team .desk h4 a {
  font-family: "Volkhov", serif;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.About_team .desk p {
  color: #fff;
}
.About_team .team-member .s-link a {
  margin: 0 10px;
  color: #1e272e;
  font-size: 16px;
}
.About_team .team-title span {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 1px;
  display: block;
}
.About_team .teams-gd h5 a {
  font-weight: bold;
  color: #060606;
  font-size: 21px;
}
.About_team .desk,
.About_team .desk h4,
.About_team .team-hover .s-link a {
  text-align: center;
  color: #1e272e;
}
.About_team .team-member:hover .team-hover,
.About_team .team-member:hover .team-hover .desk,
.About_team .team-member:hover .team-hover .s-link {
  opacity: 1;
}
.About_team .team-member:hover .team-hover .s-link {
  bottom: 10%;
}
.About_team .s-link span.fa {
  color: #fff;
}
.About_team .teams-gd a:hover,
.About_team .s-link span.fa:hover {
  color: #fb811e;
}
.About_team .team-member:hover .team-hover .desk {
  top: 35%;
}
/* SECTION VIDEO POPUP */
.Video_Popup .new-block {
  display: grid;
  align-items: center;
  padding: 2rem 0;
}
.Video_Popup .middle-section {
  max-width: 950px;
  margin: 0 auto;
}
.Video_Popup .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}
.Video_Popup span.video-play-icon {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
}
.Video_Popup span.video-play-icon:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.Video_Popup span.fa.fa-play {
  line-height: 55px;
}
.Video_Popup span.video-play-icon span {
  color: #fb811e;
}
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
.mfp-hide {
  display: none !important;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close {
  line-height: 40px;
  position: absolute;
  right: 0px;
  top: -40px;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  background: transparent;
}
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
}
.my-mfp-zoom-in.mfp-bg {
  transition: opacity 0.3s ease-out;
}
button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.Video_Popup .mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}
.Video_Popup .mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.Video_Popup .mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.Video_Popup .mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
  z-index: -1;
}
/* SECTION PAGE COVER - OWL_CAROUSEL*/
.AboutPageCover {
  background: url(../../img/home-page/Home_bgCover.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
.AboutPageCover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(8 8 8 / 44%);
  z-index: -1;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel {
  width: 100%;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}
.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
}
.testimonial-content {
  max-width: 900px;
  margin: auto;
}
.AboutPageCover .testi-des {
  text-align: center;
}
a.testi-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}
.AboutPageCover .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.AboutPageCover .testimonial .peopl {
  margin: 0;
}
.AboutPageCover .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 5px;
  color: #fff;
}
.AboutPageCover p.identity {
  color: #fff;
  font-size: 16px;
}
.AboutPageCover span.fa {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}
.fa-quote-left:before {
  content: "ï„";
}
.AboutPageCover blockquote q {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}
.AboutPageCover .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
  bottom: -90px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}
.AboutPageCover .owl-theme .owl-dots .owl-dot.active span,
.AboutPageCover .owl-theme .owl-dots .owl-dot:hover span {
  background: #fb811e;
  opacity: 1;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  border: none;
}
.AboutPageCover span.fa {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}
.AboutPageCover blockquote {
  margin: 0 0 1rem;
}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}
.owl-carousel,
.owl-carousel .owl-item {
  position: relative;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
}
.AboutPageCover .owl-dots {
  position: absolute;
  left: 0px;
  right: 0;
  background: none;
}
.w3l-clients-1 .owl-theme .owl-dots .owl-dot span {
  background: #fff;
  opacity: 0.3;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 1px;
  background: #aaa;
  display: block;
  transition: opacity 0.2s ease;
  position: relative;
  opacity: 0.9;
  border-radius: 30px;
}
#owl-demo2 > div.owl-dots > button {
  padding: 5px;
}
