/* SECTION HERO-BANNER */
.banner-left {
  position: absolute;
  left: 10em;
  z-index: 1;
}
.banner-left h2 {
  color: #f4f4f4;
  font-size: 120px;
  font-weight: bold;
  margin-left: -0.5em;
}
.w3l-banner h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}
p.banner-text {
  font-size: 20px;
}
.st-slider {
  position: relative;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
.radio {
  display: none;
}
#homepage-slider > div.images {
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom-left-radius: 20px;
}
#slide1:checked ~ .images .images-inner {
  margin-left: 0;
}
#slide2:checked ~ .images .images-inner {
  margin-left: -100%;
}
#slide3:checked ~ .images .images-inner {
  margin-left: -200%;
}
#play1:checked ~ div .fake-radio .radio-btn:nth-child(1) {
  animation: bullet 12300ms infinite -1000ms;
}
#play1:checked ~ div .fake-radio .radio-btn:nth-child(2) {
  animation: bullet 12300ms infinite 3100ms;
}
#play1:checked ~ div .fake-radio .radio-btn:nth-child(3) {
  animation: bullet 12300ms infinite 7200ms;
}
.st-slider > #play1:checked ~ .images .images-inner {
  animation: slide 12300ms infinite;
}
.images-inner {
  width: 500%;
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
.image-slide,
.fake-radio,
.radio-btn {
  transition: all 0.5s ease-out;
}

.image-slide {
  width: 20%;
  float: left;
}
.banner-w3ls-1,
.banner-w3ls-2,
.banner-w3ls-3 {
  background-size: cover;
  min-height: 100vh;
  padding: 40px 0;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: center;
  border-bottom-left-radius: 0px;
  z-index: 0;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.banner-w3ls-1:before,
.banner-w3ls-2:before,
.banner-w3ls-3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 17%);
  z-index: -1;
  top: 0;
}
.slider-num {
  margin-right: 1em;
}
.slider-num h4 {
  color: #fff;
}
.slider-num p {
  color: #fff;
}
.fake-radio {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}
#slide1:checked ~ div .fake-radio .radio-btn:nth-child(1),
#slide2:checked ~ div .fake-radio .radio-btn:nth-child(2),
#slide3:checked ~ div .fake-radio .radio-btn:nth-child(3) {
  background: #fb811e;
}
.radio-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  display: inline-block !important;
  margin: 0px 4px;
  cursor: pointer;
}
.image-slide,
.fake-radio,
.radio-btn {
  transition: all 0.5s ease-out;
}
@media (max-width: 768px) {
  .banner-left {
    left: 0em;
    padding: 2em;
  }
  .banner-left-content {
    background: #fff;
    padding: 3em 2em 2em 4em;
    border-radius: 8px;
  }
  .banner-left h2 {
    font-size: 70px;
  }
  .w3l-banner h3 {
    font-size: 28px;
    line-height: 38px;
  }
  p.banner-text {
    font-size: 16px;
  }
}
/* SECTION GrowNaturally */
.GrowNaturally-grid-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.homeGrowNaturally .box-wrap img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
.box-wrap h4 a {
  font-family: "Volkhov", serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #060606;
}
.box-wrap {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
  background-color: #fff;
}
.box-wrap:hover {
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 15%);
}
/* SECTION SERVICES */
.services {
  background: #009f4d;
}
h4.title-bg-content {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.service-details {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border: 1px solid #eee;
  border-top: none;
}
.services span.label-style {
  color: #009f4d;
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}
a.service-heading {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #060606;
  margin: 15px 0;
}
a.service-heading:hover {
  color: #009f4d;
}
.services .card {
  border: none;
  background: none;
}
.services .card img {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.img-responsive {
  max-width: 100%;
  display: block;
  border-radius: 8px;
  width: 100%;
}

/* SECTION Why Choose Us */
.grids_info span.fa {
  font-size: 30px;
  color: #fb811e;
  margin-right: 10px;
}
.grids_info h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}
.imginfo__box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}
.imginfo__box .imginfo__title {
  font-family: "Volkhov", serif;
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}
.imginfo__box p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.radius-image {
  border-radius: 30px;
}
/* SECTION index-product */
.index-product .feature-unit {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 2rem 1rem;
  transition: 0.3s ease-in;
}
.index-product .features15-col-text {
  margin-top: 30px;
}
.index-product .features15-para h4 {
  color: #060606;
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
}
.index-product .feature-unit:hover,
.index-product .feature-unit.active {
  border: 1px solid #d2d2d2;
  transition: 0.3s ease-in;
  background: #fff;
}
.index-product .features15-para h4:hover {
  transition: 0.3s ease-in-out;
  color: #009f4d;
}
/*SECTION GALLERY*/
.gallery-img-grid.hover14,
.agile-gallery_grid_main {
  padding: 0;
}
.column .gallery_effect {
  position: relative;
}
.hover14 figure {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.hover14 figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-17deg);
  transition-duration: 2s;
}
.hover14 figure:hover::before {
  left: 500%;
}
.column .gallery_effect img {
  width: 100%;
}
h5.gall-text {
  position: absolute;
  z-index: 0;
  color: #fff;
  bottom: 0;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  padding: 6px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px;
}
.smartphoto[aria-hidden="true"] {
  display: none;
}
.smartphoto {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  opacity: 1;
  font-family: sans-serif;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
  transition: all 0.3s ease-out;
  animation-name: smartphoto;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
.smartphoto-body {
  position: relative;
  z-index: 102;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.smartphoto-content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.smartphoto-inner {
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.smartphoto-header {
  display: block;
  box-sizing: border-box;
  position: fixed;
  z-index: 102;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}
.smartphoto-count {
  display: inline-block;
  color: #fff;
  font-size: 16px;
}
.smartphoto-caption {
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.smartphoto-dismiss {
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0i44Os44Kk44Ok44O8XzEiIGRhdGEtbmFtZT0i44Os44Kk44Ok44O8IDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI4MzQuNjUgMjgzNC42NSIgZmlsbD0iI0ZGRiI+PHRpdGxlPmljb248L3RpdGxlPjxwYXRoIGQ9Ik0xNTc2LjQyLDE0MDYuNzYsMjc4NCwxOTkuMTlhNTYuODYsNTYuODYsMCwwLDAsMC04MC4xOGwtNzguOTItNzguOTJhNTYuODYsNTYuODYsMCwwLDAtODAuMTgsMEwxNDE3LjMyLDEyNDcuNjYsMjA5Ljc1LDQwLjA5YTU2Ljg2LDU2Ljg2LDAsMCwwLTgwLjE4LDBMNTAuNjUsMTE5YTU2Ljg2LDU2Ljg2LDAsMCwwLDAsODAuMThMMTI1OC4yMywxNDA2Ljc2LDUwLjY1LDI2MTQuMzRhNTYuODYsNTYuODYsMCwwLDAsMCw4MC4xOGw3OC45Miw3OC45MmE1Ni44Niw1Ni44NiwwLDAsMCw4MC4xOCwwTDE0MTcuMzIsMTU2NS44NiwyNjI0LjksMjc3My40NGE1Ni44Niw1Ni44NiwwLDAsMCw4MC4xOCwwbDc4LjkyLTc4LjkyYTU2Ljg2LDU2Ljg2LDAsMCwwLDAtODAuMThaIi8+PC9zdmc+);
  text-shadow: 0 1px 0 #fff;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
}
.smartphoto-sr-only {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
.smartphoto-list {
  list-style-type: none;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.smartphoto-arrows {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1002;
  top: 50%;
  left: 0;
  opacity: 1;
  animation-name: smartphoto-appear;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
.smartphoto-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  animation-name: smartphoto-appear;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
.smartphoto-nav ul {
  display: block;
  overflow-x: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}
.smartphoto-nav li {
  display: inline-block;
  overflow: hidden;
  width: 50px;
  height: 50px;
}
.smartphoto-nav a.current {
  opacity: 1;
}
.smartphoto-nav a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-position: center center;
  background-size: cover;
}
/* SECTION PAGE COVER - OWL_CAROUSEL*/
.HomePageCover {
  background: url(../../img/home-page/Home_bgCover.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
.HomePageCover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(8 8 8 / 44%);
  z-index: -1;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel {
  width: 100%;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}
.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
}
.testimonial-content {
  max-width: 900px;
  margin: auto;
}
.HomePageCover .testi-des {
  text-align: center;
}
a.testi-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}
.HomePageCover .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.HomePageCover .testimonial .peopl {
  margin: 0;
}
.HomePageCover .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 5px;
  color: #fff;
}
.HomePageCover p.identity {
  color: #fff;
  font-size: 16px;
}
.HomePageCover span.fa {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}
.fa-quote-left:before {
  content: "ï„";
}
.HomePageCover blockquote q {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}
.HomePageCover .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
  bottom: -90px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}
.HomePageCover .owl-theme .owl-dots .owl-dot.active span,
.HomePageCover .owl-theme .owl-dots .owl-dot:hover span {
  background: #fb811e;
  opacity: 1;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  border: none;
}
.HomePageCover span.fa {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}
.HomePageCover blockquote {
  margin: 0 0 1rem;
}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}
.owl-carousel,
.owl-carousel .owl-item {
  position: relative;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
}
.HomePageCover .owl-dots {
  position: absolute;
  left: 0px;
  right: 0;
  background: none;
}
.w3l-clients-1 .owl-theme .owl-dots .owl-dot span {
  background: #fff;
  opacity: 0.3;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 1px;
  background: #aaa;
  display: block;
  transition: opacity 0.2s ease;
  position: relative;
  opacity: 0.9;
  border-radius: 30px;
}
#owl-demo2 > div.owl-dots > button {
  padding: 5px;
}
